@charset 'UTF-8';

/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 20px;
    position: absolute;
    top: 30%;
    display: block;
/*
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
*/
    cursor: pointer;
/*    border: none!important;*/
    background-color: transparent;

}

.slick-prev
{	font-size: 0px;
    text-align: -9999;
     position: absolute;
    z-index: 4;
    top: 40%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    z-index: 2000;
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #333 transparent transparent;
}


.slick-next
{font-size: 0px;
    text-align: -9999;
    right: 30px;
        position: absolute;
    z-index: 4;
    top: 40%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #333;
}


/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;
    

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background-color:lightgrey;
    border-radius: 50%;
}
.slick-dots li.slick-active button {
    background-color: cornflowerblue;
}
